<label for="id_nameList"> Name </label>
<input id="id_nameList" #id_nameList (keyup)="setListName($event,id_nameList)" (change)="setListName($event,id_nameList)" value="{{listname}}">

<ul>
  <li *ngFor = "let element of elements" >
    <app-list-element (saveEvent)="saveListElement()" (deleteEvent)="deleteListItem($event)" [data]="element"></app-list-element>
  </li>
  <li>
    <div class="add_item_container">
      <input class="ele_change_button" type="image" src="assets/img/add.jpg" (click)="addNewElement();">
    </div>
  </li>
</ul>

