.ele_change_button, .ele_status_img, img {
  width: 30px;
  height: 30px;
}


.list_element{
  margin-bottom: 30px;
  clear: left;
  float: left;
  font-family: Calibri;
  width: 100%;
}

.edit_input {
  font-family:inherit;
  font-size: inherit;
  background-color:#b3ffff;
}

.list_element div{
  margin-right: 20px;
  margin-top: 10px;
  margin-left: 10px;
}

.ele_status{
  float: left;
  width: 50px;
  background-color: inherit;
}

.ele_due{
  float: left;
  width: 150px;
}

.ele_change{
  float: right;
  width: 100px;
  background-color: inherit;
}

.text_info{
  float: left;
  min-width: 200px;
  max-width: 500px;
}

.ele_title{
  font-size: large;
  font-weight: bold;
}

.ele_desc textarea{
  width: 400px;
  height: 200px;
  overflow: visible;
}
