<div [hidden]="data.edit" class="show_values_container" #show_container>
  <div class="ele_title"> {{data.title}} </div>
  <div class="ele_desc"> {{data.description}} </div>
  <div class="ele_due"> {{data.duedate | date:'dd.MM.yyyy'}} </div>
  <div class="ele_status">
    <img class="ele_status_img" [src]="data.status ? 'assets/img/status_done.png' : 'assets/img/status_open.png'">
  </div>
  <div class="ele_change">
    <input class="ele_change_button" type="image" src="assets/img/pencil.png" (click)="data.edit = true">
    <input class="ele_change_button" type="image" src="assets/img/delete.png" (click)="deleteItem();">
  </div>
</div>

<div [hidden]="!data.edit" class="edit_values_container" #edit_container>
  <div class="ele_title"> <input value="{{data.title}}" #edit_title  (change)="data.title = edit_title.value"> </div>
  <div class="ele_desc"> <input value="{{data.description}}" #edit_desc (change)="data.description = edit_desc.value"> </div>
  <div class="ele_due"> <input value="{{data.duedate | date:'yyyy-MM-dd'}}" #edit_date type="date" (change)="data.duedate=edit_date.valueAsDate"> </div>
  <div class="ele_status">
    <input class="ele_status_img" type="image" name="edit_status" [src]="data.status ? 'assets/img/status_done.png' : 'assets/img/status_open.png'" (click)="data.status = !data.status">
  </div>
  <div class="ele_change">
    <input class="ele_change_button" type="image" src="assets/img/pencil.png" (click)="data.edit = false; saveItem();">
  </div>
</div>
